body{
margin: 0;

}

nav{
background-color: #21252b;
height: 60px;
display: flex;
align-items: center;
justify-content: space-around;
}
nav a{
color: whitesmoke;
text-decoration: none;
font-weight: thin;
font-size: 16pt;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:first-child{
color: whitesmoke;
}
nav a:nth-child(3){
color:whitesmoke;
}
nav a:hover{
    color:orange;
    font-size: 20pt;
}
header{
    width: 100%;
    height: 146px;
    color: blueviolet;
    background-image: url(imagens/beluga.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;
}
header h1{
    margin-left: 60px;
    margin-top: 60;
    color: whitesmoke;

}
section{
    background-color: white;
    height: 447px;
    width: 100%;
    display: flex;
    justify-content: center;
}
section div{
width: 200px;
height: 40%;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 10px;
border: 2px solid aquamarine;
margin-top: 20px;
justify-content: space-around;
}
section div input{
    border-radius: 8px;
    text-align: center;
}
section div input::placeholder{
color: lightgray;
font-size: 10pt;
}
section div input:focus{
background-color: rgb(73, 100, 122);
}
section div button{
    border: none;
    background-color:rgb(188, 195, 207);
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
